@import '../config';



.registerpage,
.loginpage{
   min-height:calc(110vh - 70px);
   background: url('https://wallpapercave.com/wp/iTE916Z.jpg');
   background-size: fixed;
   @include flex-c-c;

   form{
      background: #252525;
      padding: 3em 1em 1em 1em; 
      border-radius: .1em;
      width: 450px;
      color: #dfdfdf;
      border:2px solid rgb(212, 212, 212);
      margin:4em 0;
      position: relative;

      .msgCont{
         animation: loginOpacity 2s;
         animation-delay: 2.5s;
      }

      .passeye{
         position: absolute;
         right:2%;
         top: 67%;
         transform: translateY(-67%);
         cursor: pointer;
         @include flex-c-c;

         .toggled{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%) rotate(120deg);
            width:10%;
            height:100%;
            background: #fff;
            pointer-events: none;
         }
         
         svg{   
            width: 25px;
            height: 25px;
            pointer-events: none;
         }
      }

      span.false,
      span.true{
         display: block;
         width: 100%;
         color:white;
         padding:.5em 0;
         text-align: center;
         margin-bottom: .1em;
         font-size: .85rem;

         &:last-of-type{
            margin-bottom: .5em;
         }
      }

      span.false{
         background: red;
      }

      span.true{
         background: green;
      }

      button{
         display: block;
         margin:0 auto 1em auto;
         border:2px solid #dfdfdf;
         background: none;
         border-radius: .2em;
         padding:.8em 0;
         width: 100%;
         color: #dfdfdf;
         font-size: 1.2rem;
         cursor: pointer;
         transition: .4s;

         &:hover{
            background: rgb(199, 198, 196);
            color:black;
            box-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 8px grey, 0 0 16px grey, 0 0 32px grey;
         }
      }

      h3{
         text-align: center;
         font-weight: 400;
         margin-bottom: 1em;
      }

      h4{
         font-size: .9rem;
         text-align: center;

         &.forg-pass{
            margin-bottom: .7em;
         }

         a{
            color:orangered;
            text-decoration: none;
            transition: .3s;

            &:hover{
               color:rgb(4, 153, 212);
            }
         }
      }

      .checkdiv{
         display: flex;
         align-items: center;
      }

      div:not(.loadgif):not(.icon){
         margin-bottom: 1em;
         position: relative;

         label{
            font-size: .95rem;
            margin-right: 1em;
            cursor: pointer;
         }

         p{
            font-size: .85rem;
         }

         input[type="text"],
         input[type="password"]{
            width: 100%;
            outline: 0;
            background: #555555;
            border:1px solid #303030;
            color:#fff;
            padding:.8em .5em;
            font-size: 1rem; 
            font-family: 'Sora', sans-serif;
            transition:.4s;

            &.logininp{
               padding:.8em .5em;
               font-size: 1.4rem;
            }

            &:focus{
               background:rgb(161, 49, 8);
            }
         }
      }

      .icon{
         position: absolute;
         left:50%;
         top:0;
         border-radius: 50%;
         transform: translate(-50%, -50%);
         background: #252525;
         @include flex-c-c;
         width:90px;
         height:90px;
         border: 2px solid rgb(212, 212, 212);
         
         svg{
            width: 70%;
            height: 70%;
            color:#dfdfdf;
         }
      }  
   }
}

@keyframes loginOpacity{
   0%{ opacity: 1; }
   100%{ opacity: 0; }
}