@import '../config';

.formmessage{
   background: #252525;
   position: absolute;
   width: 80%;
   height:95%;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%) scale(0);
   z-index: 99999;
   border: 2px solid #dfdfdf;
   border-radius: .2em;
   padding:0 2em;
   transition: .5s;

   h1{
      margin:0;
      padding:0;

      &.res{
         text-align: center;
      }

      &.write-inf{
         margin:1.6em 0;
         text-align: center;
         font-size: 1rem;
      }
      
      &.res{
         padding:1.7em 0;
         z-index: 99;
         width: 100%;
         position: absolute;
         font-size: 1.3rem;
         left:50%;
         top:50%;
         transform: translate(-50%,-50%);
         animation: msgsAnim 1s;
         animation-delay: 3s;
      }

      &#false{ background: rgb(206, 0, 0); }
      &#true{ background: green; }
   }

   span.close-icon{
      position: absolute;
      right:1%;
      top:1%;
      cursor: pointer;

      svg{ 
         color:red;
         width: 30px;
         height: 30px;
      }
   } 

   button{
      display: block;
      margin: 0 auto;
      border: 2px solid rgb(228, 56, 56);
      background: rgb(167, 44, 44);
      width: 20%;
      text-align: left;
      color:white;
      text-transform: uppercase;
      padding: 1.1em .5em;
      border-radius: .2em;
      position: relative;
      cursor: pointer;
      letter-spacing: 1px;
      transition: .3s;
      outline: 0;

      &:hover{
         border-color: rgb(151, 30, 30);
         background:rgb(211, 43, 43);
         box-shadow: 0 0 2px purple, 0 0 4px purple, 0 0 8px purple;
         color:rgb(209, 209, 209);
         span.add{
            background: rgb(196, 7, 7);
         }
      }

      span.add{
         position: absolute;
         background: rgb(139, 13, 13);
         right:0;
         top:0;
         width: 25%;
         @include flex-c-c;
         height:100%;
         transition: .3s;
         pointer-events: none;

         svg{
            width: 35px;
            height:35px;
         }
      }
         
      span.text{
         font-family: 'Sora', sans-serif;
         font-size: 1.2rem;
         font-weight: 500;
         pointer-events: none;
      }
   }

   div:not(.loadgif){
      position: relative;
      margin-bottom: 1.2em;

      .emotes-bar{
         position:absolute;
         margin:0;
         left:50%; transform: translateX(-50%);
         bottom:6px;
         width:calc(100% - 4px);
         z-index: 9;
         
         background: #151515;
         @include flex-c-c;

         h2{
            margin: 0 .2em;
            cursor: pointer;

            &:hover{
               background: #101010;
            }
         }
      }

      input{
         width:100%;
         border:2px solid #dfdfdf;
         background:none;
         font-size: 1.3rem;
         outline: 0;
         padding:.7em 1em;
         color:white;
         border-radius: .1em;
         transition: .3s;
      }

      span{
         position: absolute;
         top:50%;
         left:2%;
         transition: .3s;
         transform:translate(-2%, -50%);
         background: #252525;
         padding:.1em .3em;
         font-weight: 700;
         font-family: 'Roboto Mono', monospace;
      }

      textarea{
         width:100%;
         resize: none;
         height:50vh;
         border:2px solid #dfdfdf;
         background: none;
         outline: 0;
         font-size: 1.3rem;
         padding:1em;
         color:white;
         transition: .3s;
      }
   }
}

@keyframes msgsAnim{
   0%{ opacity: 1; }
   100%{ opacity: 0; }
}