@import './config';

*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

body{
   min-height: 100vh;
   max-width:100vw;
   overflow-x:hidden;
   font-family: 'Sora', sans-serif;
   color:white;
}

.loadgif{
   position: absolute;
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   @include flex-c-c;
   background: rgba($color: #000000, $alpha: .7);
   z-index: 999999999999999;
   
   img{
      height:50%;
   }
}


   // @media (max-width: 1200px){
   //    body{
   //       background: green;
   //    }
   // }
   
   // @media (max-width: 1024px){
   //    body{
   //       background: yellow;
   //    }
   // }
   
   // @media (max-width: 768px){
   //    body{
   //       background: pink; 
   //    }
   // }
   
   // @media (max-width: 480px){
   //    body{
   //       background: red;
   //    }
   // } 