@import '../config';

.leftright{
   display: flex;
   position: relative;
   border-bottom: 2px solid #303030;
}

.leftsection{
   width: 80%;
   background: url('https://wallpaper.dog/large/17011864.jpg');
   background-attachment: fixed;
   padding:1em;

   figure{
      height:30vw;
      cursor: pointer;
      position: relative;
      transition: .3s;
      overflow: hidden;
      margin-bottom: 4em;

      &:hover{
         filter:contrast(80%);
      }

      div.outer{ 
         height: inherit; 
         display: flex;
      }

      div.imgcont{
         height:inherit;
         position: relative;
         flex-shrink: 0;
         width: 100%;

         p{
            position: absolute;
            left:5%;
            bottom:5%;
            font-size: clamp(1rem, 6vw, 4rem);
            color:yellow;
            padding-left: .3em;
            text-shadow: 0 0 3px white;
            filter:blur(.5px);
            text-shadow: 0 0 2px black,  0 0 4px black,  0 0 8px black,  0 0 16px black;
            border-left: 5px solid yellow;
            font-weight: 400;
         }

         img{
            height: 100%;
            width:100%;
         }
      }

      div.radiocont{
         position: absolute;
         right:5%;
         bottom:8%;
         display: flex;

         span{
            display: block;
            width:clamp(10px, 4vw, 20px);
            height:clamp(10px, 4vw, 20px);
            background: rgb(230, 226, 0);
            border:1px solid black;
            border-radius: 50%;
            margin:0 .3em;

            &.activeradio{
               background: rgb(0, 130, 190);
               box-shadow: 0 0 2px red, 0 0 4px red, 0 0 8px red;
            }
         }
      }
   }

   .newsCont{
      @include flex-sa-c;
      flex-wrap: wrap;

      article{
         width:23vw;
         height:21vw;
         margin:1em .5em;
         position: relative;
         border: 1px solid rgb(121, 121, 121);
         cursor: pointer;
         background-size: 100% 100%;
         transition: .5s;

         &:hover{
            background-size: 120% 120%;
         }

         h3{
            position: absolute;
            bottom:30%;
            left:10%;
            font-size: clamp(.9rem,5vw,1.8rem);
            font-weight: 600;
            color:whitesmoke;
            text-shadow: 0 0 2px black, 0 0 4px black, 0 0 8px black;
         }

         h4{
            position: absolute;
            right:5px;
            bottom:5px;
            font-family: 'Roboto Mono', monospace;
            font-size: clamp(.6rem,4vw,.9rem);
            text-shadow: 0 0 2px black;
         }
      }
   }

}

@media (max-width: 1024px){
   .leftright{ flex-direction: column; }

   .leftsection{
      width: 100%;

      figure{
         width: 98%;
         height:clamp(140px, 40vw, 40vw);
      }

      .newsCont{
         article{
            width:28vw;
            height:27vw;
         }
      }
   }
}

@media (max-width: 768px){
   .leftsection{
      .newsCont{
         article{ width:clamp(280px,65vw,50px); height: clamp(20px,65vw,250px); }
      }
   }
}