@import '../config';

.numpages{
   @include flex-c-c;
   width:100%;
   margin-top: 5em;

   div{
      @include flex-c-c;
      width: 45px;
      border:2px solid black; border-width: 2px 0px 2px 2px;
      background: #202020;
      height: clamp(40px,7vw,45px);
      text-align: center;
      font-weight: 100;
      cursor: pointer;
      transition:.2s;

      &:hover{
         background: #303030;
      }

      &:last-child{
         border-width: 2px 2px 2px 2px;
      }

      &.active{
         background: #707070;
         color:black;
         font-weight: 700;
         pointer-events: none;
      }
   }
}

@media (max-width: 480px){
   .numpages{
      div{ font-size: clamp(.8rem,2vw,1rem); }
      div.overflowed{ display: none; }
   }
} 