@import '../config';

.slidercont{
   padding-bottom: 5em;
   .hed{
      text-align: center;
      font-size: clamp(1rem,5vw,1.5rem);
      font-weight: 100;
      padding-top: 1em;
   }

   .para{
      text-align: center;
      font-family:'Roboto Mono', monospace;
      font-size: clamp(.7rem, 5vw, .9rem);
      padding-bottom:4em;
   }

   .inner-cont{
      @include flex-sa-c;

      figure{
         width: 30%;height:500px;     
         position: relative;
         @include flex-c-c;
         
         div.outdiv{ 
            overflow: hidden;

            div{
               display: flex;

               img{
                  width:100%;
                  flex-shrink: 0;
                  pointer-events: none;
               }
            }         
         }

         button{
            position: absolute;
            top:50%; transform: translateY(-50%);      
            cursor: pointer;
            background: none;
            outline: 0;
            border: 0;

            &:active svg{
               transform: scale(.5);
            }

            &:hover svg{
               color:rgb(0, 161, 182);
            }

            svg{
               width:60px;
               height:60px;
               color:white;
               transition: .4s;
               pointer-events: none;
               border-radius: 50%;
            }

            &:first-child{
               right:100%;
            }

            &:last-child{
               left:100%;
            }
         }        
      }

      article{
         width:50%;height:500px;
         position: relative;

         figure{
            height:40%;
            width: 100%;

            img{
               height: 100%;
            }
         }

         h3{
            font-size: 1.5rem;
            margin:.6em 0 .5em 0;
            border-bottom: 2px solid white;
            width:min-content;
            white-space: nowrap;
            font-weight: 200;
            color:blanchedalmond;
            text-shadow: 1px 1px 3px grey;
         }

         @keyframes text {
            0%{
               width:0;
            }
            100%{width:100%;}
         }  

         p{
            font-size: .8rem;
            line-height: 2em;
            text-shadow: 1px 1px 4px purple;
            font-family: 'Roboto Mono', monospace;
            font-weight: 200;
         }

         button{
            position: absolute;
            bottom:0;
            left:0;
            padding:.8em 0;
            width: 25%;
            border:2px solid rgb(0, 81, 255);
            background: rgba(16, 16, 1, .8);
            cursor: pointer;
            font-size: 1rem;
            color:whitesmoke;
            border-radius: .4em;
            transition: .3s;
            letter-spacing: -2px;

            &:hover{
               color:rgb(0, 81, 255);
               letter-spacing: 0px;
            }

            span{ font-family: 'Roboto Mono', monospace; }
         }
      }
   }
}