@import '../config';

.namesurname{
   padding:1em 4em;
   display: flex;
   justify-content: space-between;
   position: relative;

   section{
      h4{
         margin:2em 0;
         font-size: 1.1rem;
         display: flex;
         flex-direction: column;

         span{
            color:yellowgreen;
            font-weight: 700;
         }
      }

      .usavatar{
         width: 120px;
         height:120px;
         overflow: hidden;
         border: 1px solid black;
         position: relative;
         img{
            height: 100%;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
         }
      }
   }

   form{
      h6{
         position: absolute;
         padding:2em 0;
         text-align: center;
         width: 100%;
         font-size: 1rem;
         left:50%;
         top:50%;
         transform: translate(-50%, -50%);
         animation: persres 1s;
         animation-delay: 2s;

         &.true{ background: green; }
         &.false{ background: red; }
      }

      button{
         padding: .5em 1em;
         background: none;
         border: 2px solid rgb(0, 119, 255);
         outline: 0;
         border-radius: .3em;
         font-size: 1.1rem;
         color:rgb(0, 119, 255);
         display: block;
         margin: 0 auto;
         transition: .3s;
         cursor: pointer;

         &:hover{
            background: rgb(0, 63, 134);
         }
      }

      h2{
         font-size: 1rem;
         color:rgb(0, 119, 255);
         border-bottom: 1px solid rgb(0, 119, 255);
         margin-bottom: 1.5em;
         text-align: center;
      }

      h5{
         color:rgb(0, 119, 255);
         border-bottom: 1px solid rgb(0, 119, 255);
         width: max-content;
         font-family: 'Roboto Mono', monospace;
      }

      .birth{
         section{ display: flex; }

         h5{
            margin-bottom: .5em;
         }

         label{
            margin-right: .2em;
            font-size: .9rem;
         }

         select{
            margin-right: 1em;
            border: 1px solid whitesmoke;
            outline: 0;
            background: none;
            color:white;
            border-radius: .2em;

            option{
               background: rgb(82, 80, 80);
            }
         }
      }

      .gen{
         section{ display: flex; }

         label{
            font-size: .9rem;
            cursor: pointer;
         }

         input{
            margin-right: 3em;
         }
      }

      div:not(.labdiv){
         margin: 2em auto;
      }

      input[type='text']{
         width: 100%;
         background: none;
         outline: 0;
         border: 0;
         border-bottom: 2px solid rgb(89, 255, 47);
         font-size: 1.1rem;
         padding:.5em 1em;
         color:white;
         font-weight: 100;
      }

      input[type='file']{
         margin-top: .5em;
      }
   }
}

@keyframes persres{
   0%{ opacity: 1; }
   100%{ opacity: 0; }
}

@media (max-width: 1024px){
   .namesurname{
      flex-direction: column;
      form{ h2{ border-top: 1px solid rgb(0, 119, 255); padding: 1em 0; } }
   }
}

@media (max-width: 768px){
   .namesurname{ padding: 1em 1em; }
}

@media (max-width: 480px){
   .namesurname{
      padding: 1em .5em;

      form{
         .gen{
            section{ margin-top: .5em; flex-direction: column; }
         }

         .birth{
            section{ 
               margin-top: .5em; 
               flex-direction: column; 
               
               div{ 
                  display: flex;
                  margin-bottom: .3em;

                  label{ 
                     width: 50px; 
                     display: block;  
                  } 
                  select{
                     width: 100px;
                  }
               } 
            }
         }
      }
   }
} 