.p-inf{
   text-align: center;
   margin: 2em 0;
}

.wrap-name{
   display: flex;
   position: relative;

   #resdiv{
      position: absolute;
      width: 100%;
      top:50%;
      transform: translateY(-50%);
      
      text-align: center;
      font-size: clamp(1rem, 6vw, 2rem);
      padding:1em;
      color:white;
      z-index: 999;
      animation: nickanim 1s;
      animation-delay: 2s;
   }

   .false{
      background: rgb(218, 32, 8);
   }

   .true{
      background: rgb(15, 172, 1);
   }

   section{
      width: 50%;
      padding:0 3em 1em 3em;
   
      &:last-child{
         border-left: 2px solid black;
      }
   
      h4{
         text-align: center;
         margin-bottom: 1em;
         font-weight: 100;
      }
   
      .div-name{
         margin-bottom: 2em;
         position: relative;
      }
   
      .rand-name{
         margin:.5em 0;
      }
   
      input[type='text']{
         width: 100%;
         background: none;
         border:0;
         border-bottom: 2px solid rgb(4, 165, 4);
         outline: 0;
         font-size: 1.2rem;
         color:rgb(224, 224, 224);
         padding:0 0 .2em 1em;
      }
   
      .rand-name{
         padding:.2em 1em;
         color:white;
         border: 1px solid white;
         border-radius: .2em;
         background: none;
         transition: .3s;
         cursor: pointer;
   
         &:hover{ background: rgba(255,255,255,.2); }
         span{ font-family: 'Sora', sans-serif; pointer-events: none; }
      }
   
      .save-name{
         display: block;
         margin:0 auto;
         padding:1em .5em;
         width: 40%;
         min-width: 170px;
         background:none;
         border:2px solid rgb(6, 100, 189);
         border-radius: .2em;
         color:rgb(7, 116, 218);
         font-size: 1.2rem;
         cursor: pointer;
         transition: .3s;
   
         &:hover{
            background: rgba(6, 100, 189, .5);
         }
   
         span{ font-weight: 700; }
      }

      #dis{ pointer-events: none; }
   
      .secret-div{
         margin-top: 4em;
         color:rgb(216, 44, 44);
   
         h4{ font-weight: 700; }
         
         input{ border-color: rgb(216, 44, 44); }
      }
   
      h3{
         font-size: 1.1rem;
         font-family: 'Roboto Mono', monospace;
         margin-bottom: 2em;
   
         span{
            color:orange;
            border-bottom: 1px solid orange;

            &.nyes{
               color:rgb(0, 221, 0);
               border-color: rgb(0, 221, 0);
            }

            &.nno{
               color:rgb(255, 0, 0);
               font-weight: 700;
               border-color: rgb(255, 0, 0);
            }
         }
      }
   }
}

@keyframes nickanim{
   0%{ opacity: 1; }
   100%{ opacity: 0; }
}

@media (max-width: 1024px){
   .wrap-name{
      section{
         &:last-of-type{
            padding: 0 .2em;
            input[type='text']{ font-size: 1rem; }
         }
      }
   }
}

@media (max-width: 768px){
   .p-inf{ margin-bottom: 4.5em; }
   .wrap-name{
      flex-direction: column;
      padding-bottom: 1em;
      section{ width: 100%; &:last-child{ border: 0; } padding-left:.5em; h3{ font-family: 'Sora', sans-serif; color:cornflowerblue; font-weight: 600; span{ margin:0 .5em; } } }
   }
}