.pinf{
   text-align: center;
   &:first-of-type{ margin-top: 1em; }
   &.pred{
      color:rgb(224, 9, 9);
      border-bottom: 2px solid red;
      width: max-content;
      margin: 0 auto 1.3em auto;
   }
}

.password-change{
   background: #202020;
   width: 450px;
   max-width: 100%;
   padding:1em 2em;
   margin:0 auto;

   #resdiv{
      position: absolute;
      width: 100%;
      top:50%;
      transform: translateY(-50%);
      left:0;
      text-align: center;
      font-size: clamp(1rem, 6vw, 2rem);
      padding:1em;
      color:white;
      z-index: 999;
      animation: nickanim 1s;
      animation-delay: 2s;
   }

   .false{
      background: rgb(218, 32, 8);
   }

   .true{
      background: rgb(15, 172, 1);
   }

   .save-name{
      display: block;
      margin:0 auto;
      padding:1em;
      
      background:none;
      border:2px solid rgb(6, 100, 189);
      border-radius: .2em;
      color:rgb(7, 116, 218);
      font-size: 1.2rem;
      cursor: pointer;
      transition: .3s;

      &:hover{
         background: rgba(6, 100, 189, .5);
      }

      span{ font-weight: 700; }
   }

   div:not(.loadgif){
      margin-bottom: 1.5em;
      position: relative;

      span{
         position: absolute;
         bottom:0;
         right:0;
         cursor: pointer;

         span{
            position: absolute;
            width: 3px;
            height:100%;
            background: white;
            pointer-events: none;
            left:55%;
            top:-5%;
            transform: translate(-55%,0) rotate(120deg);
         }

         svg{ width: 25px; height: 25px; pointer-events: none; }
      }

      p{ margin-bottom: .5em; }

      &.secret-div{
         color: rgb(216, 44, 44);
         p{ font-weight: 700; }
         input{ border-color: rgb(216, 44, 44); }
      }
   }

   input{
      width: 100%;
      background: none;
      border:0;
      border-bottom: 2px solid rgb(4, 167, 4);
      outline: 0;
      font-size: clamp(1rem, 6vw, 1.3rem);
      color:white;
      font-family: 'Sora', sans-serif;
   }
}

@media (max-width: 768px){
   .pinf{
      &.pred{ margin-bottom: 4em; }
   }
}

@media (max-width: 480px){
   .password-change{
      div:not(.loadgif){
         margin-bottom: 3em;
      }
   }
}
