@import '../config';

footer{
   background: #252525;
   padding-bottom: 2em;

   .icons{
      display: flex;
      justify-content: flex-end;
      padding:1em 0;

      a{ 
         color:White; 
         transition: .3s;
         margin:0 1em;
         border-radius: 50%;
         position: relative;

         &:hover::before{
            position: absolute;
            left:50%; transform: translateX(-50%);
            top:100%; 
            content: attr(per);
            padding:.2em;
            color:white;
            font-weight: 100;
            font-size: .9rem;
            background: #101010;
         }

         &:nth-child(1):hover{
            color:rgb(0, 14, 78);     
         }
         &:nth-child(2):hover{
            color:rgb(2, 128, 212);
         }
         &:nth-child(3):hover{
            color:#000;
         }
      }

      svg{
         width: 40px;
         height:40px;
      }
   }

   div.uls{
      @include flex-c-c;

      ul{
         list-style: none;
         margin:0 2em;

         li{
            margin:.3em 0;
            font-family: 'Roboto Mono', monospace;

            a{
               color:white;
               text-decoration: none;
               font-weight: 200;
               transition: .3s;
               font-size: clamp(.6rem,4vw,1rem);

               &:hover{
                  color:burlywood;
                  text-shadow: 0 0 2px purple, 0 0 4px purple;
                  font-weight: 600;
               }
            }
         }
      }
   }

   p{
      text-align: center;
      font-size: clamp(.75rem,4vw,.9rem);
      color:rgb(212, 16, 16);
   }

   p.fp{
      margin: 2em 0;
      font-weight: 300;
      filter: blur(.5px);
   }

   .outul{
      @include flex-c-c;
      list-style: none;
      flex-wrap: wrap;

      li{
         margin: 0 clamp(0em, 1vw, 1em);

         a{
            letter-spacing: 1px;
            color:rgb(204, 204, 204);
            text-decoration: none;
            transition: .2s;
            font-size: clamp(.7rem, 3vw, .9rem);

            &:hover{
               color:rgb(46, 107, 219);
            }
         }       
      }
   }

   p:not(.fp){
      margin-top: 2em;
      font-weight: 200;
   }
}