@import '../config';

.contact{
   @include back;
   min-height: $fullheight;
   padding:2em 1em;
   position: relative;
   
   h1{
      font-family: 'Roboto Mono', monospace;
      font-size: 3rem;
      filter: blur(.4px);
      color:bisque;
      text-shadow: 0 0 4px purple, 0 0 8px purple;
      margin-bottom: 1em;
   }

   img{
      position: absolute;
      right:5%;
      top:50%;
      transform: translateY(-50%);
      max-width: 100%;
   }

   .divinf{
      background: #202020;
      margin-bottom: 2em;
      padding:1em;
      border-radius: .3em;
      width: 45%;
      position: relative;
      
      svg{
         position: absolute;
         right:5%;
         top: 50%;
         transform: translateY(-50%);
         width: 50px;
         height:50px;
      }

      p{
         margin: .7em;
         font-size: clamp(.7rem, 5vw, 1rem);
         display: flex;
         align-items: center;

         .copyclip{
            cursor: pointer; 
            position: relative;

            &:active svg{
               transform: scale(.7);
            }

            &::before{
               position: absolute;
               content: 'Copy to clipboard';
               top:100%;
               background: #151515;
               padding:.3em;
               font-size: .8rem;
               left:50%; transform: translateX(-50%);
               white-space: nowrap;
               opacity: 0;
               transition: .3s;
               pointer-events: none;
            }

            &:hover::before{
               opacity: 1;
            }
         }

         svg{
            position: static;
            width: 20px;
            height:20px;
            transform: translateY(0);
            pointer-events: none;
            transition: .2s;
         }

         span:not(.copyclip){
            font-weight: 700;
            color:burlywood;
         }
      }
   }
}

@media (max-width: 1024px){
   .contact{
      img{
         position: static;
         transform: translateY(0);
         margin: 0 auto;
         display: block;
      }
      .divinf{
         width: 100%;
      }
   }
}

@media (max-width: 480px){
   .contact{
      h1{
         text-align: center;
      }
      
      .divinf{
         margin: 3em 0;

         svg{
            top:0;
            left:50%;
            transform: translate(-50%,-50%);
         }
         p{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin:1em .7em;
         }
      }
   }
} 