.contact {
  background: url("https://images.wallpaperscraft.com/image/single/surface_dark_background_texture_50754_1920x1080.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 70px);
  padding: 2em 1em;
  position: relative;
}

.contact h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
  color: bisque;
  text-shadow: 0 0 4px purple, 0 0 8px purple;
  margin-bottom: 1em;
}

.contact img {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 100%;
}

.contact .divinf {
  background: #202020;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: .3em;
  width: 45%;
  position: relative;
}

.contact .divinf svg {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.contact .divinf p {
  margin: .7em;
  font-size: clamp(0.7rem, 5vw, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .divinf p .copyclip {
  cursor: pointer;
  position: relative;
}

.contact .divinf p .copyclip:active svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.contact .divinf p .copyclip::before {
  position: absolute;
  content: 'Copy to clipboard';
  top: 100%;
  background: #151515;
  padding: .3em;
  font-size: .8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
}

.contact .divinf p .copyclip:hover::before {
  opacity: 1;
}

.contact .divinf p svg {
  position: static;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact .divinf p span:not(.copyclip) {
  font-weight: 700;
  color: burlywood;
}

@media (max-width: 1024px) {
  .contact img {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: 0 auto;
    display: block;
  }
  .contact .divinf {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .contact h1 {
    text-align: center;
  }
  .contact .divinf {
    margin: 3em 0;
  }
  .contact .divinf svg {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .contact .divinf p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 1em .7em;
  }
}
