.deleteacc h3 {
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-align: center;
}

.deleteacc h3:first-of-type {
  margin-top: 2em;
}

.deleteacc h3.redh {
  color: red;
  margin-bottom: 8%;
}

.deleteacc section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #202020;
  padding: 2em 0;
  position: relative;
}

.deleteacc section h4 {
  position: absolute;
  bottom: 100%;
  padding: 1em 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  -webkit-animation: delaccanim 1s;
          animation: delaccanim 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.deleteacc section h4.false {
  background: maroon;
}

.deleteacc section h4.true {
  background: #33a100;
}

.deleteacc section button {
  background: #303030;
  border: 2px solid lightgray;
  border-radius: .2em;
  padding: .9em 2em;
  color: lightgray;
  margin-top: .5em;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.deleteacc section button:hover {
  border-color: red;
  color: red;
}

.deleteacc section p {
  color: #e40d0d;
  font-weight: 700;
}

.deleteacc section div {
  position: relative;
  width: 320px;
  margin-bottom: 2em;
}

.deleteacc section div input {
  background: none;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #c71111;
  width: 100%;
  font-size: 1.2rem;
  padding: .5em 1em;
  color: white;
}

.deleteacc section div span {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.deleteacc section div span svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.deleteacc section div span span {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  pointer-events: none;
  left: 55%;
  top: -5%;
  -webkit-transform: translate(-55%, 0) rotate(120deg);
          transform: translate(-55%, 0) rotate(120deg);
}

@-webkit-keyframes delaccanim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes delaccanim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .deleteacc h3.redh {
    margin-bottom: 4em;
  }
}

@media (max-width: 480px) {
  .deleteacc section div {
    width: 98%;
  }
  .deleteacc section div p {
    text-align: center;
  }
}
