.editdesc {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: .5s;
  transition: .5s;
}

.editdesc form:not(.formmessage) {
  background: #151515;
  border: 2px solid #909090;
  position: absolute;
  border-radius: .2em;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  width: 1200px;
  max-width: 98%;
  height: 80%;
}

.editdesc form:not(.formmessage) textarea {
  resize: none;
  height: 70%;
  width: 98%;
  margin: .6em auto;
  display: block;
  background: none;
  outline: 0;
  border: 2px solid cornflowerblue;
  padding: .5em;
  font-size: clamp(0.95rem, 4vw, 1.1rem);
  color: white;
  font-weight: 200;
}

.editdesc form:not(.formmessage) textarea::-webkit-scrollbar {
  background: #101010;
  width: 5px;
  border-radius: .2em;
}

.editdesc form:not(.formmessage) textarea::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 10px;
}

.editdesc form:not(.formmessage) section {
  background: #353535;
  padding: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editdesc form:not(.formmessage) section div {
  -webkit-transition: .3s;
  transition: .3s;
  background: #232323;
  cursor: pointer;
  font-size: .85rem;
  border-radius: .2em;
  font-weight: 100;
  font-family: 'Roboto Mono', monospace;
  margin: 0 .5em;
  padding: .2em;
}

.editdesc form:not(.formmessage) section div:hover {
  background: #191919;
}

.editdesc form:not(.formmessage) .e-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: .5em;
}

.editdesc form:not(.formmessage) .e-btns button {
  padding: .7em 3em;
  background: #212121;
  color: white;
  border-radius: .2em;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.editdesc form:not(.formmessage) .e-btns button span {
  pointer-events: none;
}

.editdesc form:not(.formmessage) .e-btns button:hover {
  background: #2f5499;
}

.editdesc form:not(.formmessage) .e-btns button:first-of-type {
  border: 2px solid red;
}

.editdesc form:not(.formmessage) .e-btns button:last-of-type {
  border: 1px solid #00e900;
}

.editdesc form:not(.formmessage)::-webkit-scrollbar {
  background: #101010;
  width: 5px;
  border-radius: .2em;
}

.editdesc form:not(.formmessage)::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .editdesc form .e-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .editdesc form .e-btns button {
    margin: .2em auto;
    width: 95%;
  }
}
