.e-cat-section-prev {
  position: relative;
}

.e-cat-section-prev .additional {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: calc(30% - 1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-cat-section-prev .additional span {
  cursor: pointer;
  position: relative;
}

.e-cat-section-prev .additional span::before {
  content: attr(per);
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  font-size: .85rem;
  text-shadow: 0 0 1px purple, 0 0 2px purple;
  font-weight: 100;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.e-cat-section-prev .additional span:hover::before {
  opacity: 1;
}

.e-cat-section-prev .additional span svg {
  width: 30px;
  height: 30px;
  margin: 0 .5em;
}

.e-cat-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  border-bottom: 1px solid oldlace;
  border-top: 1px solid oldlace;
  border-right: 1px solid #101010;
  border-left: 1px solid #101010;
  margin-left: 1em;
  margin-bottom: 3em;
  background: #111111;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.e-cat-section:hover {
  -webkit-filter: hue-rotate(150deg) blur(0.5px);
          filter: hue-rotate(150deg) blur(0.5px);
}

.e-cat-section figure {
  width: 15%;
  padding: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-cat-section figure svg {
  width: 75px;
  height: 75px;
}

.e-cat-section .e-cat-text {
  width: 65%;
  padding: .5em 0;
}

.e-cat-section .e-cat-text h4 {
  color: #f75a21;
  font-size: .95rem;
  font-weight: 500;
}

.e-cat-section .e-cat-text p {
  width: 50%;
  font-size: .8rem;
}

.e-cat-section .e-cat-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  width: 20%;
}

.e-cat-section .e-cat-last h5 {
  color: transparent;
  text-shadow: 0 0 1px #707070;
}

.e-cat-section .e-cat-last h6 {
  text-shadow: 0 0 1px white;
  color: transparent;
}

.e-cat-section .e-cat-last span {
  height: 1px;
  width: 100%;
  display: block;
  background: orange;
}

@media (max-width: 768px) {
  .e-cat-section {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .e-cat-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .e-cat-section figure {
    margin: 0 auto;
    padding: 0;
  }
  .e-cat-section figure svg {
    height: auto;
  }
  .e-cat-section .e-cat-text,
  .e-cat-section .e-cat-last {
    width: 100%;
  }
  .e-cat-section .e-cat-last span {
    display: none;
  }
  .e-cat-section .e-cat-last div:first-of-type h5 {
    border-top: 1px solid orange;
  }
  .e-cat-section .e-cat-text {
    text-align: center;
  }
  .e-cat-section .e-cat-text p {
    width: 100%;
  }
}
