footer {
  background: #252525;
  padding-bottom: 2em;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em 0;
}

footer .icons a {
  color: White;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 1em;
  border-radius: 50%;
  position: relative;
}

footer .icons a:hover::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  content: attr(per);
  padding: .2em;
  color: white;
  font-weight: 100;
  font-size: .9rem;
  background: #101010;
}

footer .icons a:nth-child(1):hover {
  color: #000e4e;
}

footer .icons a:nth-child(2):hover {
  color: #0280d4;
}

footer .icons a:nth-child(3):hover {
  color: #000;
}

footer .icons svg {
  width: 40px;
  height: 40px;
}

footer div.uls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.uls ul {
  list-style: none;
  margin: 0 2em;
}

footer div.uls ul li {
  margin: .3em 0;
  font-family: 'Roboto Mono', monospace;
}

footer div.uls ul li a {
  color: white;
  text-decoration: none;
  font-weight: 200;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: clamp(0.6rem, 4vw, 1rem);
}

footer div.uls ul li a:hover {
  color: burlywood;
  text-shadow: 0 0 2px purple, 0 0 4px purple;
  font-weight: 600;
}

footer p {
  text-align: center;
  font-size: clamp(0.75rem, 4vw, 0.9rem);
  color: #d41010;
}

footer p.fp {
  margin: 2em 0;
  font-weight: 300;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

footer .outul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .outul li {
  margin: 0 clamp(0em, 1vw, 1em);
}

footer .outul li a {
  letter-spacing: 1px;
  color: #cccccc;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}

footer .outul li a:hover {
  color: #2e6bdb;
}

footer p:not(.fp) {
  margin-top: 2em;
  font-weight: 200;
}
