.formmessage {
  background: #252525;
  position: absolute;
  width: clamp(600px, 80%, 100%);
  max-width: 100%;
  height: 95%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 99999;
  border: 2px solid #dfdfdf;
  border-radius: .2em;
  padding: 0 2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.formmessage h1 {
  margin: 0;
  padding: 0;
}

.formmessage h1.res {
  text-align: center;
}

.formmessage h1.write-inf {
  margin: 1.6em 0;
  text-align: center;
  font-size: 1rem;
}

.formmessage h1.res {
  padding: 2vw 0;
  z-index: 99;
  width: 100%;
  position: absolute;
  font-size: clamp(1rem, 4vw, 1.3rem);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: msgsAnim 1s;
          animation: msgsAnim 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.formmessage h1#false {
  background: #ce0000;
}

.formmessage h1#true {
  background: green;
}

.formmessage span.close-icon {
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

.formmessage span.close-icon svg {
  color: red;
  width: 30px;
  height: 30px;
}

.formmessage button {
  display: block;
  margin: 0 auto;
  border: 2px solid #e43838;
  background: #a72c2c;
  width: 200px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  padding: 1.1em .5em;
  border-radius: .2em;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  transition: .3s;
  outline: 0;
}

.formmessage button:hover {
  border-color: #971e1e;
  background: #d32b2b;
  -webkit-box-shadow: 0 0 2px purple, 0 0 4px purple, 0 0 8px purple;
          box-shadow: 0 0 2px purple, 0 0 4px purple, 0 0 8px purple;
  color: #d1d1d1;
}

.formmessage button:hover span.add {
  background: #c40707;
}

.formmessage button span.add {
  position: absolute;
  background: #8b0d0d;
  right: 0;
  top: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
}

.formmessage button span.add svg {
  width: 35px;
  height: 35px;
}

.formmessage button span.text {
  font-family: 'Sora', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
}

.formmessage div:not(.loadgif) {
  position: relative;
  margin-bottom: 1.2em;
}

.formmessage div:not(.loadgif) .emotes-bar {
  position: absolute;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 6px;
  width: calc(100% - 4px);
  z-index: 9;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formmessage div:not(.loadgif) .emotes-bar h2 {
  margin: 0 .2em;
  cursor: pointer;
}

.formmessage div:not(.loadgif) .emotes-bar h2:hover {
  background: #101010;
}

.formmessage div:not(.loadgif) input {
  width: 100%;
  border: 2px solid #dfdfdf;
  background: none;
  font-size: clamp(0.9rem, 4.5vw, 1.3rem);
  outline: 0;
  padding: .7em 1em;
  color: white;
  border-radius: .1em;
  -webkit-transition: .3s;
  transition: .3s;
}

.formmessage div:not(.loadgif) span {
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(-2%, -50%);
          transform: translate(-2%, -50%);
  background: #252525;
  padding: .1em .3em;
  font-weight: 700;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-family: 'Roboto Mono', monospace;
}

.formmessage div:not(.loadgif) textarea {
  width: 100%;
  resize: none;
  height: 50vh;
  border: 2px solid #dfdfdf;
  background: none;
  outline: 0;
  font-size: clamp(0.9rem, 4.5vw, 1.3rem);
  padding: 1em;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  padding-bottom: 2em;
}

.formmessage div:not(.loadgif) textarea::-webkit-scrollbar {
  width: 10px;
}

.formmessage div:not(.loadgif) textarea::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: .5em;
}

.formmessage div:not(.loadgif) textarea::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

@-webkit-keyframes msgsAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes msgsAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .formmessage {
    padding: 0 .2em;
  }
  .formmessage div:not(.loadgif) input {
    width: 100%;
  }
  .formmessage div:not(.loadgif) textarea {
    line-height: 2em;
  }
}
