.forum-entry-page {
  min-height: calc(100vh - 70px);
  background: url("https://cdn.wallpapersafari.com/19/76/yfV2nm.jpg");
  background-size: cover;
  padding: 4em 0;
}

.forum-entry-page .line {
  width: 50%;
  height: 2px;
  margin-bottom: 3em;
  background: white;
  position: relative;
}

.forum-entry-page .line p {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Roboto Mono', monospace;
}

.forum-entry-page .fep-wrap {
  width: 1220px;
  max-width: 99%;
  background: rgba(22, 22, 22, 0.95);
  margin: 0 auto;
  position: relative;
  padding-bottom: 1em;
}

.forum-entry-page .fep-wrap div.f-para-anim {
  margin: 1em 0 2em 0;
  position: relative;
  width: 71%;
  overflow: hidden;
}

.forum-entry-page .fep-wrap div.f-para-anim p {
  font-size: .85rem;
  color: azure;
  -webkit-animation: sanim 8s linear infinite;
          animation: sanim 8s linear infinite;
  position: relative;
  left: -50%;
}

@-webkit-keyframes sanim {
  0% {
    left: -50%;
  }
  100% {
    left: 102%;
  }
}

@keyframes sanim {
  0% {
    left: -50%;
  }
  100% {
    left: 102%;
  }
}

.forum-entry-page .fep-wrap .f-logcheck {
  position: absolute;
  bottom: 100%;
  right: 0;
}

.forum-entry-page .fep-wrap .f-logcheck span {
  color: orangered;
}

.forum-entry-page .fep-wrap .f-logcheck p,
.forum-entry-page .fep-wrap .f-logcheck a {
  font-size: .7rem;
}

.forum-entry-page .fep-wrap .f-logcheck a {
  text-decoration: none;
  color: bisque;
}

.forum-entry-page .fep-wrap .f-logcheck a:hover {
  color: #275cf8;
}

.forum-entry-page .fep-wrap nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #080808;
  border-bottom: 1px solid orangered;
}

.forum-entry-page .fep-wrap nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid orangered;
}

.forum-entry-page .fep-wrap nav ul li {
  padding: .7em 1em;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: clamp(0.7rem, 2.2vw, 0.9rem);
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forum-entry-page .fep-wrap nav ul li svg {
  margin-right: .1em;
}

.forum-entry-page .fep-wrap nav ul li:hover {
  background: #151515;
}

@media (max-width: 480px) {
  .forum-entry-page .line {
    width: 90%;
    margin: 3em auto 3.5em auto;
  }
  .forum-entry-page .fep-wrap div.f-para-anim {
    width: 100%;
  }
  .forum-entry-page .fep-wrap nav svg {
    width: 15px;
    height: 15px;
  }
  .forum-entry-page .fep-wrap nav span {
    display: none;
  }
}
