section.f-chat {
  width: 1220px;
  max-width: 99%;
  margin: 1em auto 0 auto;
}

section.f-chat h5 {
  padding: .1em;
}

section.f-chat article {
  background: transparent;
  -webkit-box-shadow: 0 0 1px white;
          box-shadow: 0 0 1px white;
  padding: .5em;
  height: 300px;
  overflow-y: scroll;
}

section.f-chat article::-webkit-scrollbar {
  width: 5px;
  background: black;
}

section.f-chat article::-webkit-scrollbar-thumb {
  width: 100%;
  background: #202020;
}

section.f-chat article div {
  background: rgba(20, 20, 20, 0.9);
  padding: .5em;
  margin-bottom: .5em;
}

section.f-chat article div h6 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: .4em;
  border-bottom: 1px solid cornflowerblue;
  color: transparent;
  text-shadow: 0 0 1px cornflowerblue;
  font-size: .7rem;
  padding-bottom: .1em;
  cursor: pointer;
}

section.f-chat article div h6 span {
  text-shadow: 0 0 1px orangered;
}

section.f-chat article div p {
  font-size: clamp(0.85rem, 3vw, 1rem);
}

section.f-chat form {
  margin-top: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section.f-chat form p {
  position: absolute;
  top: 100%;
  left: 20%;
  color: red;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-animation: panim 1s;
          animation: panim 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes panim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes panim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section.f-chat form button {
  display: block;
  padding: .5em 1.5em;
  cursor: pointer;
  border-radius: .2em;
  background: #f4a5601a;
  outline: 0;
  border: 1px solid #f4a460;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

section.f-chat form button:hover {
  background: #f4a56042;
}

section.f-chat form button span.add {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 100%;
  border-radius: .2em;
  background: #f4a5601a;
}

section.f-chat form button span.add.clickedanim {
  -webkit-animation: animbtn .3s;
          animation: animbtn .3s;
}

@-webkit-keyframes animbtn {
  0% {
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

@keyframes animbtn {
  0% {
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

section.f-chat form textarea {
  resize: none;
  width: 620px;
  max-width: 99%;
  outline: 0;
  background: transparent;
  border: 2px solid #303030;
  border-radius: .2em;
  color: white;
  -webkit-filter: blur(0.4px);
          filter: blur(0.4px);
  padding: .5em;
  -webkit-transition: .2s;
  transition: .2s;
  height: 80px;
}

section.f-chat form textarea:focus {
  border-color: #725b4a;
}

section.f-chat form textarea::-webkit-scrollbar {
  width: 2px;
  background: black;
}

section.f-chat form textarea::-webkit-scrollbar-thumb {
  width: 100%;
  background: #202020;
}
