.main-post {
  min-height: calc(100vh - 70px);
  background: url("https://cdn.wallpapersafari.com/19/76/yfV2nm.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 2em 0;
}

.main-post article.mp-wrap {
  background: rgba(30, 30, 30, 0.9);
  width: 1210px;
  max-width: 99%;
  margin: 0 auto;
}

.main-post article.mp-wrap section.post {
  padding: .5em 0 2em 0;
}

.main-post article.mp-wrap section.post section.post-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  position: relative;
}

.main-post article.mp-wrap section.post section.post-icons .fr,
.main-post article.mp-wrap section.post section.post-icons .rr {
  position: absolute;
  top: 100%;
  white-space: nowrap;
  background: #101010;
  padding: .1em;
  border: 1px solid #b3b3ab;
  border-radius: .2em;
}

.main-post article.mp-wrap section.post section.post-icons .fr {
  left: 9%;
  -webkit-animation: fanim 2s;
          animation: fanim 2s;
}

.main-post article.mp-wrap section.post section.post-icons .rr {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: ranim 2s;
          animation: ranim 2s;
}

.main-post article.mp-wrap section.post section.post-icons svg {
  pointer-events: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-post article.mp-wrap section.post section.post-icons span {
  cursor: pointer;
}

.main-post article.mp-wrap section.post section.post-icons div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-post article.mp-wrap section.post section.post-icons div span:first-child {
  margin-right: 1em;
}

.main-post article.mp-wrap section.post section.post-icons div span:first-child.true {
  pointer-events: none;
}

.main-post article.mp-wrap section.post section.post-icons div span:first-child.true svg {
  color: #02c902;
}

.main-post article.mp-wrap section.post section.post-icons div span:first-child:hover svg {
  color: green;
}

.main-post article.mp-wrap section.post section.post-icons div span:last-child.true {
  pointer-events: none;
}

.main-post article.mp-wrap section.post section.post-icons div span:last-child.true svg {
  color: red;
}

.main-post article.mp-wrap section.post section.post-icons div span:last-child:hover svg {
  color: #e62828;
}

.main-post article.mp-wrap section.post section.post-icons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-post article.mp-wrap section.post section.post-icons span#p-fav:hover svg {
  color: royalblue;
}

.main-post article.mp-wrap section.post section.post-icons span#p-fav.true {
  color: royalblue;
}

.main-post article.mp-wrap section.post section.post-icons span svg {
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
}

.main-post article.mp-wrap section.post section.post-text {
  font-family: 'Sora', sans-serif;
  padding: clamp(0.2em, 2vw, 1em);
  text-align: justify;
}

.main-post article.mp-wrap section.post section.post-text span {
  font-size: clamp(0.75rem, 3vw, 0.9rem);
  line-height: 1.5em;
}

.main-post article.mp-wrap section.post section.post-text span img {
  width: 830px;
  max-width: 100%;
  display: block;
  margin: .8em auto;
}

.main-post article.mp-wrap section.post section.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #151515;
  padding: .3em .5em;
}

.main-post article.mp-wrap section.post section.user-info h2 {
  font-size: 1rem;
  cursor: pointer;
  color: orangered;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-post article.mp-wrap section.post section.user-info h2:hover {
  color: #ff8800;
  text-shadow: 0 0 2px purple, 0 0 4px purple;
}

.main-post article.mp-wrap section.post section.user-info h3 {
  font-size: clamp(0.8rem, 4vw, 0.85rem);
  color: #d1a2a2;
}

.main-post article.mp-wrap section.post section.user-info h1 {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  color: orange;
  margin-top: .5em;
}

.main-post article.mp-wrap section.post section.user-info figure {
  min-width: clamp(45px, 8vw, 60px);
  height: clamp(45px, 8vw, 60px);
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 .5em auto 0;
}

.main-post article.mp-wrap section.post section.user-info figure img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes ranim {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  50% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

@keyframes ranim {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  50% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

@-webkit-keyframes fanim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fanim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
