.uparr {
  position: fixed;
  right: .5em;
  z-index: 9;
  bottom: .5em;
}

.uparr svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.uparr svg:hover {
  color: cadetblue;
}
