.numpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 5em;
}

.numpages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  border: 2px solid black;
  border-width: 2px 0px 2px 2px;
  background: #202020;
  height: clamp(40px, 7vw, 45px);
  text-align: center;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.numpages div:hover {
  background: #303030;
}

.numpages div:last-child {
  border-width: 2px 2px 2px 2px;
}

.numpages div.active {
  background: #707070;
  color: black;
  font-weight: 700;
  pointer-events: none;
}

@media (max-width: 480px) {
  .numpages div {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
  .numpages div.overflowed {
    display: none;
  }
}
