.pinf {
  text-align: center;
}

.pinf:first-of-type {
  margin-top: 1em;
}

.pinf.pred {
  color: #e00909;
  border-bottom: 2px solid red;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 1.3em auto;
}

.password-change {
  background: #202020;
  width: 450px;
  max-width: 100%;
  padding: 1em 2em;
  margin: 0 auto;
}

.password-change #resdiv {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  text-align: center;
  font-size: clamp(1rem, 6vw, 2rem);
  padding: 1em;
  color: white;
  z-index: 999;
  -webkit-animation: nickanim 1s;
          animation: nickanim 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.password-change .false {
  background: #da2008;
}

.password-change .true {
  background: #0fac01;
}

.password-change .save-name {
  display: block;
  margin: 0 auto;
  padding: 1em;
  background: none;
  border: 2px solid #0664bd;
  border-radius: .2em;
  color: #0774da;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.password-change .save-name:hover {
  background: rgba(6, 100, 189, 0.5);
}

.password-change .save-name span {
  font-weight: 700;
}

.password-change div:not(.loadgif) {
  margin-bottom: 1.5em;
  position: relative;
}

.password-change div:not(.loadgif) span {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.password-change div:not(.loadgif) span span {
  position: absolute;
  width: 3px;
  height: 100%;
  background: white;
  pointer-events: none;
  left: 55%;
  top: -5%;
  -webkit-transform: translate(-55%, 0) rotate(120deg);
          transform: translate(-55%, 0) rotate(120deg);
}

.password-change div:not(.loadgif) span svg {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.password-change div:not(.loadgif) p {
  margin-bottom: .5em;
}

.password-change div:not(.loadgif).secret-div {
  color: #d82c2c;
}

.password-change div:not(.loadgif).secret-div p {
  font-weight: 700;
}

.password-change div:not(.loadgif).secret-div input {
  border-color: #d82c2c;
}

.password-change input {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid #04a704;
  outline: 0;
  font-size: clamp(1rem, 6vw, 1.3rem);
  color: white;
  font-family: 'Sora', sans-serif;
}

@media (max-width: 768px) {
  .pinf.pred {
    margin-bottom: 4em;
  }
}

@media (max-width: 480px) {
  .password-change div:not(.loadgif) {
    margin-bottom: 3em;
  }
}
