.msg-read {
  min-height: calc(100vh - 70px);
  background: url("https://images.wallpaperscraft.com/image/single/surface_dark_background_texture_50754_1920x1080.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.msg-read .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 40vw;
  background: linear-gradient(83deg, #292929 38%, #2b2929 59%);
  border: 1px solid black;
  position: relative;
}

.msg-read .cont section.info {
  width: 20%;
  padding-top: 2em;
  border-right: 1px solid black;
  position: relative;
}

.msg-read .cont section.info svg {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 110%;
  top: 1%;
}

.msg-read .cont section.info img {
  width: 70%;
  display: block;
  margin: 0 auto 1em auto;
}

.msg-read .cont section.info div {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid black;
}

.msg-read .cont section.info div:first-of-type {
  border-top: 1px solid black;
}

.msg-read .cont section.info div h4 {
  color: #ff7b00;
  margin-bottom: .1em;
}

.msg-read .cont section.text {
  width: 80%;
  height: 80%;
  padding: 2em;
  line-height: 1.5em;
}

.msg-read .cont section.text button {
  position: absolute;
  left: 60%;
  bottom: 2%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  background: #151515;
  padding: 1rem 0;
  width: 15%;
  border-radius: .2em;
  border: 3px solid red;
  outline: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.msg-read .cont section.text button:hover {
  background: black;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  border-color: brown;
}

.msg-read .cont section.text button span {
  font-weight: 700;
  color: white;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
}

.msg-read .cont section.text h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
}
