.slidercont {
  padding-bottom: 5em;
}

.slidercont .hed {
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 100;
  padding-top: 1em;
}

.slidercont .para {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: clamp(0.6rem, 3vw, 0.9rem);
  padding-bottom: 4em;
}

.slidercont .inner-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slidercont .inner-cont figure {
  width: 30%;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slidercont .inner-cont figure div.outdiv {
  overflow: hidden;
}

.slidercont .inner-cont figure div.outdiv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidercont .inner-cont figure div.outdiv div img {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  pointer-events: none;
}

.slidercont .inner-cont figure button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background: none;
  outline: 0;
  border: 0;
}

.slidercont .inner-cont figure button:active svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.slidercont .inner-cont figure button:hover svg {
  color: #00a1b6;
}

.slidercont .inner-cont figure button svg {
  width: clamp(35px, 6vw, 60px);
  height: clamp(35px, 6vw, 60px);
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
  border-radius: 50%;
}

.slidercont .inner-cont figure button:first-child {
  right: 100%;
}

.slidercont .inner-cont figure button:last-child {
  left: 100%;
}

.slidercont .inner-cont article {
  width: 50%;
  height: 530px;
  position: relative;
}

.slidercont .inner-cont article figure {
  height: 40%;
  width: 100%;
}

.slidercont .inner-cont article figure img {
  height: 100%;
}

.slidercont .inner-cont article h3 {
  font-size: 1.5rem;
  margin: .6em 0 .5em 0;
  border-bottom: 2px solid white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  font-weight: 200;
  color: blanchedalmond;
  text-shadow: 1px 1px 3px grey;
}

@-webkit-keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.slidercont .inner-cont article p {
  font-size: clamp(0.75rem, 4vw, 0.8rem);
  line-height: clamp(1em, 6vw, 2em);
  text-shadow: 1px 1px 4px purple;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

.slidercont .inner-cont article button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .8em 0;
  width: 10em;
  border: 2px solid #0051ff;
  background: rgba(16, 16, 1, 0.8);
  cursor: pointer;
  font-size: clamp(0.8rem, 4vw, 1rem);
  color: whitesmoke;
  border-radius: .4em;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: -2px;
}

.slidercont .inner-cont article button:hover {
  color: #0051ff;
  letter-spacing: 0px;
}

.slidercont .inner-cont article button span {
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 1024px) {
  .slidercont .inner-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slidercont .inner-cont article {
    width: 90%;
  }
  .slidercont .inner-cont article figure {
    width: 100%;
    height: auto;
  }
  .slidercont .inner-cont figure.plfig {
    height: auto;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .slidercont .inner-cont figure.plfig {
    width: 60%;
  }
}
