.usersettings {
  background: url("https://images.wallpaperscraft.com/image/single/surface_dark_background_texture_50754_1920x1080.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 70px);
  padding: 1em 0;
}

.usersettings .sett-wrap {
  width: 90%;
  margin: 0 auto;
}

.usersettings .titlesettings {
  text-align: center;
  padding: .8em 0;
  background: #202020;
  font-size: 1.5rem;
  border: 2px solid #606060;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.usersettings .main-cont {
  min-height: 75vh;
  background-color: #353535;
  border: 2px solid #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usersettings .main-cont .lefts {
  width: 20%;
  min-width: 180px;
  border-right: 2px solid #606060;
  position: relative;
}

.usersettings .main-cont .lefts div {
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 100%;
}

.usersettings .main-cont .lefts div p {
  text-align: center;
}

.usersettings .main-cont .lefts ul {
  list-style: none;
}

.usersettings .main-cont .lefts ul li {
  text-align: center;
  padding: 1.5em 0;
  background: #171717;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.usersettings .main-cont .lefts ul li svg {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.usersettings .main-cont .lefts ul li.del-acc {
  color: red;
}

.usersettings .main-cont .lefts ul li.tok-acc {
  color: yellow;
}

.usersettings .main-cont .lefts ul li.active {
  background: #1265d3;
  pointer-events: none;
}

.usersettings .main-cont .lefts ul li:hover {
  background: #454545;
}

.usersettings .main-cont .rights {
  position: relative;
  width: 80%;
  height: 100%;
}

@media (max-width: 768px) {
  .usersettings .main-cont {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .usersettings .main-cont .lefts {
    width: 100%;
    border-bottom: 2px solid cornflowerblue;
  }
  .usersettings .main-cont .lefts div {
    display: none;
  }
  .usersettings .main-cont .rights {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .usersettings .sett-wrap {
    width: 100%;
  }
}
