.newsArticle {
  min-height: calc(100vh - 70px);
  padding-bottom: 4em;
  background: url("https://images.wallpaperscraft.com/image/single/surface_dark_background_texture_50754_1920x1080.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.newsArticle .main-img {
  height: calc(100vh - 70px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsArticle .main-img section {
  width: 865px;
  max-width: 100%;
  margin-left: 5%;
}

.newsArticle .main-img section h2 {
  font-size: clamp(0.85rem, 3vw, 1rem);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.newsArticle .main-img section h2.categoryh:hover {
  color: orange;
  cursor: pointer;
}

.newsArticle .main-img section h2 svg {
  height: 20px;
  width: 20px;
  margin-right: .4em;
}

.newsArticle .main-img section .tags {
  margin: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsArticle .main-img section .tags span {
  font-size: .75rem;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  padding: .5em;
  font-weight: 700;
  margin-right: .5em;
  text-shadow: 0 0 2px black;
  border-radius: .5em;
  border: 1px solid transparent;
}

.newsArticle .main-img section .tags span:hover {
  background: #202020;
  border-color: whitesmoke;
}

.newsArticle .main-img section .datecat {
  padding: .5em;
  max-width: 100%;
  background: #466fbb;
  border: 1px solid #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .2em;
}

.newsArticle .main-img section h1 {
  font-size: clamp(1rem, 7vw, 3rem);
  font-weight: 200;
}

.newsArticle .main-img section h1:first-child {
  text-shadow: 0 0 3px black;
}

.newsArticle .main-img section p {
  text-shadow: 1px 0 2px black;
  font-size: clamp(0.75rem, 3vw, 1rem);
  font-weight: 400;
}

.newsArticle .main-img section .readtime {
  background: #466fbb;
  border: 1px solid #202020;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  padding: .5em;
  border-radius: .2em;
  margin-top: .5em;
  font-size: clamp(0.85rem, 3vw, 1rem);
}

.newsArticle .main-img section .miscinf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.newsArticle .main-img section .miscinf span.iconuser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 1em;
  color: white;
}

.newsArticle .main-img section .miscinf span.iconuser::before, .newsArticle .main-img section .miscinf span.iconuser::after {
  position: absolute;
  border: 1px solid whitesmoke;
  left: 50%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.newsArticle .main-img section .miscinf span.iconuser::before {
  content: 'Watch profile';
  padding: .2em .4em;
  background: #404040;
  font-weight: 100;
  font-size: .8rem;
  bottom: 130%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9;
}

.newsArticle .main-img section .miscinf span.iconuser::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #303030;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  bottom: 115%;
}

.newsArticle .main-img section .miscinf span.iconuser:hover::before, .newsArticle .main-img section .miscinf span.iconuser:hover::after {
  opacity: 1;
}

.newsArticle .main-img section .miscinf span.iconuser svg {
  width: 40px;
  height: 40px;
  color: lavenderblush;
  cursor: pointer;
}

.newsArticle .main-img section .miscinf figcaption {
  margin-left: .5em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: clamp(0.85rem, 4vw, 1rem);
}

.newsArticle .main-img section .miscinf figcaption span {
  color: orange;
  font-weight: 600;
}

.newsArticle .main-img section .miscinf figure {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.newsArticle .main-img section .miscinf figure img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-right: .5em;
}

.newsArticle article.main-content {
  width: 910px;
  max-width: 100%;
  background: #303030;
  padding: 2em 5em;
  margin: 0 auto;
  position: relative;
}

.newsArticle article.main-content .left-icons {
  position: absolute;
  right: 101%;
  height: 100%;
  top: 0;
}

.newsArticle article.main-content .left-icons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
  font-weight: 600;
  cursor: pointer;
}

.newsArticle article.main-content .left-icons span.trueg {
  pointer-events: none;
}

.newsArticle article.main-content .left-icons span.trueg svg {
  color: green;
}

.newsArticle article.main-content .left-icons span.truer {
  pointer-events: none;
}

.newsArticle article.main-content .left-icons span.truer svg {
  color: #d30000;
}

.newsArticle article.main-content .left-icons span:hover:first-of-type svg {
  color: #01c901;
}

.newsArticle article.main-content .left-icons span:hover:nth-child(2) svg {
  color: red;
}

.newsArticle article.main-content .left-icons span:hover:nth-child(3) svg {
  color: #8a831f;
}

.newsArticle article.main-content .left-icons span svg {
  width: 35px;
  height: 35px;
  pointer-events: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.newsArticle article.main-content .left-icons span h5 {
  pointer-events: none;
}

.newsArticle article.main-content .left-icons div {
  position: -webkit-sticky;
  position: sticky;
  top: 250px;
}

.newsArticle article.main-content .icons {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsArticle article.main-content .icons span {
  display: block;
  margin-right: .8em;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.newsArticle article.main-content .icons span::before {
  content: attr(per);
  position: absolute;
  left: 50%;
  top: 110%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: .9rem;
  color: cornflowerblue;
  font-weight: 700;
}

.newsArticle article.main-content .icons span p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 98%;
  height: 100%;
  font-size: .8rem;
  color: black;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: cornflowerblue;
}

.newsArticle article.main-content .icons span:hover::before {
  opacity: 1;
}

.newsArticle article.main-content .icons span:hover svg {
  color: cornflowerblue;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.newsArticle article.main-content .icons svg {
  position: relative;
  width: inherit;
  height: inherit;
  -webkit-transition: .3s;
  transition: .3s;
  background: #303030;
  z-index: 4;
}

.newsArticle article.main-content section.textarticle:not(h1):not(h2) {
  color: #e0d1ba;
  font-size: clamp(0.8rem, 3vw, 0.95rem);
  font-weight: 400;
  word-spacing: 4px;
  line-height: 2.2em;
}

.newsArticle article.main-content section.textarticle:not(h1):not(h2) a {
  -webkit-transition: .2s;
  transition: .2s;
  color: greenyellow;
  text-decoration: none;
  position: relative;
}

.newsArticle article.main-content section.textarticle:not(h1):not(h2) a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background: #66971c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .2s;
  transition: .2s;
}

.newsArticle article.main-content section.textarticle:not(h1):not(h2) a:hover {
  color: #66971c;
}

.newsArticle article.main-content section.textarticle:not(h1):not(h2) a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.newsArticle article.main-content h1 {
  font-size: clamp(2rem, 8vw, 2.5rem);
  color: white;
  text-shadow: 1px 1px 2px black, 1px 1px 4px black;
  font-weight: 600;
  margin: 1.5em 0;
  line-height: auto;
}

.newsArticle article.main-content h2 {
  display: inline-block;
  font-size: 1.4rem;
  color: #4b4beb;
  font-weight: 400;
}

.newsArticle article.main-content section.finaltext {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 2px solid whitesmoke;
  position: relative;
}

.newsArticle article.main-content section.finaltext div.authimage {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1em;
}

.newsArticle article.main-content section.finaltext div.authimage:hover h4 {
  width: 400px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .5em;
  opacity: 1;
}

.newsArticle article.main-content section.finaltext div.authimage h4 {
  background: #202020;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all .8s;
  transition: all .8s;
  pointer-events: none;
  overflow: hidden;
  border-radius: .5em;
  border: 1px solid whitesmoke;
  opacity: 0;
}

.newsArticle article.main-content section.finaltext div.authimage h4 span {
  font-size: .9rem;
  width: 75%;
  height: inherit;
  display: block;
}

.newsArticle article.main-content section.finaltext div.authimage figure {
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 999;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.newsArticle article.main-content section.finaltext div.authimage figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
}

.newsArticle article.main-content section.finaltext a {
  color: white;
  text-decoration: none;
}

.newsArticle article.main-content section.finaltext h3 {
  font-size: .9rem;
  margin-bottom: .5em;
}

.newsArticle article.main-content section.finaltext p {
  font-size: .9rem;
  font-style: italic;
  color: #75a2b4;
  font-weight: 400;
  cursor: pointer;
}

.newsArticle article.main-content section.finaltext p:hover {
  color: #a4e0f8;
}

.newsArticle article.main-content section.finaltext div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

.newsArticle article.main-content section.finaltext div.links ul {
  list-style: none;
}

.newsArticle article.main-content section.finaltext div.links ul li.li-h {
  color: orange;
  font-size: clamp(1rem, 7vw, 1.5rem);
  border-bottom: 1px solid orange;
  margin-bottom: .5em;
}

.newsArticle article.main-content section.finaltext div.links ul li:not(.li-h) {
  cursor: pointer;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

.newsArticle article.main-content section.finaltext div.links ul li:not(.li-h):hover {
  color: cornflowerblue;
}

@media (max-width: 1200px) {
  .newsArticle article.main-content .left-icons {
    position: static;
  }
  .newsArticle article.main-content .left-icons div {
    position: static;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .newsArticle article.main-content section.finaltext {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .newsArticle .main-img section {
    margin: 0 auto;
    width: 98%;
  }
  .newsArticle .main-img section .datecat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .newsArticle .main-img section .datecat h2 {
    margin: .1em 0;
  }
  .newsArticle article.main-content {
    padding: 2em .5em;
  }
}

@media (max-width: 480px) {
  .newsArticle .main-img h1 {
    margin-bottom: .5em;
  }
  .newsArticle .main-img .miscinf span.iconuser {
    display: none !important;
  }
  .newsArticle article.main-content section.textarticle:not(h1):not(h2) {
    text-align: justify;
    word-spacing: 0;
  }
  .newsArticle article.main-content section.finaltext h3 {
    text-align: center;
  }
  .newsArticle article.main-content section.finaltext div.authimage {
    position: static;
    margin: 0;
  }
  .newsArticle article.main-content section.finaltext div.authimage figure {
    margin: 0 auto;
  }
  .newsArticle article.main-content section.finaltext div.links {
    display: block;
  }
  .newsArticle article.main-content section.finaltext div.links ul:first-child {
    margin-bottom: 1em;
  }
}
