.write-new-main {
  min-height: calc(100vh - 70px);
  background: url("https://cdn.wallpapersafari.com/19/76/yfV2nm.jpg");
  background-size: cover;
  padding: 2em;
}

.write-new-main form {
  background: rgba(20, 20, 20, 0.9);
  border-radius: .2em;
  border: 1px solid #303030;
  padding: 1em;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.write-new-main form h2 {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  z-index: 999;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: .5em 0;
}

.write-new-main form h2 span {
  display: block;
  cursor: pointer;
}

.write-new-main form h2::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  top: 80%;
}

.write-new-main form h2.false {
  background: #b90505;
  -webkit-animation: an 1s;
          animation: an 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.write-new-main form h2.false::before {
  background: #b90505;
}

.write-new-main form h2.true {
  background: #058b10;
}

.write-new-main form h2.true::before {
  background: #058b10;
}

@-webkit-keyframes an {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes an {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.write-new-main form button {
  margin: 0 auto;
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  outline: 0;
}

.write-new-main form button:hover {
  background: #1a329e !important;
}

.write-new-main form h3 {
  font-size: 1rem;
  margin-bottom: .5em;
}

.write-new-main form h1 {
  font-size: 1.2rem;
  font-weight: 100;
  -webkit-filter: blur(0.2px);
          filter: blur(0.2px);
  text-shadow: 0 0 2px grey, 0 0 4px grey;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 2em;
}

.write-new-main form section.wnm-title input {
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 2px solid green;
  color: white;
  width: 100%;
}

.write-new-main form section.wnm-img {
  margin: 3em 0 2em 0;
}

.write-new-main form section.wnm-img div.wnm-img-cont input {
  display: block;
  margin-bottom: 1em;
}

.write-new-main form section.wnm-img div.wnm-img-cont input:last-child {
  margin: 0;
}

.write-new-main form section.wnm-img div.wnm-img-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.write-new-main form section.wnm-img div.wnm-img-opt span {
  cursor: pointer;
  margin: 0 .5em;
}

.write-new-main form section.wnm-img div.wnm-img-opt span svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.write-new-main form section.wnm-img div.wnm-img-cont {
  background: #202020;
  padding: 1em;
}

.write-new-main form section.wnm-text textarea {
  resize: none;
  width: 100%;
  background: #151515;
  outline: 0;
  border: 1px solid #252525;
  padding: .5em;
  color: white;
  font-size: .9rem;
  height: 300px;
}
