.write-news-cont {
  background: url("https://images.unsplash.com/photo-1612383401597-cdfb8bdfa0d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 70px);
  padding: 1em 0;
}

.write-news-cont .wrap-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 104px);
}

.write-news-cont section.left-info-form-section {
  width: 39%;
  background: url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
  background-size: cover;
  background-position: 50% 50%;
  border: 1px solid cornflowerblue;
  border-right: 0;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.write-news-cont section.left-info-form-section h4 {
  position: absolute;
  text-align: center;
  bottom: 20%;
  left: 0;
  width: 100%;
  color: white;
  font-weight: 600;
  padding: 1em 0;
  z-index: 999;
}

.write-news-cont section.left-info-form-section h4 span {
  margin-left: .2em;
  cursor: pointer;
  font-weight: 400;
  color: orange;
  -webkit-transition: .3s;
  transition: .3s;
}

.write-news-cont section.left-info-form-section h4 span:hover {
  color: orangered;
}

.write-news-cont section.left-info-form-section h4.false {
  background: red;
  -webkit-animation: articleNews 1s;
          animation: articleNews 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.write-news-cont section.left-info-form-section h4.true {
  background: green;
}

.write-news-cont section.left-info-form-section h1 {
  background: #252525;
  padding: .5em;
  border-radius: .2em;
  margin-bottom: .5em;
}

.write-news-cont section.left-info-form-section h2 {
  width: 80%;
  margin: 0 auto;
  font-size: clamp(0.85rem, 3vw, 1rem);
  text-align: center;
  font-weight: 700;
  color: #d8bbbb;
  text-shadow: 0 0 2px black;
  margin: .2em 0;
}

.write-news-cont section.left-info-form-section h2:nth-child(3) {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 2px solid #d8bbbb;
}

.write-news-cont section.left-info-form-section h3 {
  font-weight: 700;
  font-size: .9rem;
  margin-top: 2em;
  color: #d8bbbb;
  text-shadow: 0 0 2px black;
}

.write-news-cont section.left-info-form-section h3 a {
  color: royalblue;
  font-weight: 700;
  text-decoration: none;
  padding: .2em;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: .3em;
  text-shadow: 0 0 3px black;
}

.write-news-cont section.left-info-form-section h3 a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.write-news-cont form {
  width: 59%;
  height: inherit;
  padding: 1em;
  background: rgba(200, 200, 200, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid coral;
  overflow-y: scroll;
  position: relative;
}

.write-news-cont form::-webkit-scrollbar {
  display: none;
}

.write-news-cont form button {
  display: block;
  margin: 0 auto;
  width: 20%;
  min-width: 130px;
  padding: 1em;
  background: none;
  border: 2px solid orangered;
  border-radius: .3em;
  color: orangered;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.write-news-cont form button:hover {
  background: #505050;
}

.write-news-cont form button span {
  font-weight: 700;
}

.write-news-cont form div {
  margin-bottom: 3em;
}

.write-news-cont form div select {
  background: #303030;
  border: 2px solid royalblue;
  outline: 0;
  color: white;
  border-radius: .2em;
  padding: .5em 1em;
  cursor: pointer;
}

.write-news-cont form div.select-image-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.write-news-cont form div.select-image-cont figure {
  position: absolute;
  height: 11vw;
  width: 19.5vw;
  right: 5%;
  border: 2px solid green;
}

.write-news-cont form div.select-image-cont figure img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.write-news-cont form div.select-image-cont figure img.def {
  height: 100%;
}

.write-news-cont form div label {
  display: block;
  margin-bottom: 1em;
  font-weight: 100;
  text-shadow: 0 0 2px grey, 0 0 4px grey, 0 0 8px grey;
}

.write-news-cont form div label span {
  font-size: .8rem;
}

.write-news-cont form div .tag-cont {
  background: #303030;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .5em;
  border: 2px solid royalblue;
  position: relative;
}

.write-news-cont form div .tag-cont span {
  position: absolute;
  bottom: 4%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.write-news-cont form div .tag-cont span:first-child {
  left: 104%;
}

.write-news-cont form div .tag-cont span:first-child:hover {
  color: red;
}

.write-news-cont form div .tag-cont span:last-of-type {
  left: 118%;
}

.write-news-cont form div .tag-cont span:last-of-type:hover {
  color: #00be00;
}

.write-news-cont form div .tag-cont span svg {
  width: 25px;
  pointer-events: none;
  height: 25px;
}

.write-news-cont form div .tag-cont .tag {
  background: #404040;
  display: block;
  border: 2px solid #2d4691;
  outline: 0;
  font-size: .9rem;
  color: white;
  padding: .2em .5em;
  width: 100%;
  margin-bottom: .5em;
  font-weight: 600;
}

.write-news-cont form div .tag-cont .tag:last-child {
  margin: 0;
}

.write-news-cont form div input[type='text']:not(.tag) {
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 2px solid orangered;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
}

.write-news-cont form div input[type='text']:not(.tag).sh {
  width: 50%;
}

.write-news-cont form div input[type='text']:not(.tag):focus {
  border-color: #05c905;
}

.write-news-cont form div.text-art label {
  text-align: center;
}

.write-news-cont form div.text-art div {
  position: relative;
}

.write-news-cont form div.text-art div section {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2px;
  width: 99.5%;
  background: #101010;
}

.write-news-cont form div.text-art div section span {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 0em .5em;
  font-weight: 400;
  font-size: clamp(0.9rem, 3vw, 1rem);
}

.write-news-cont form div.text-art div section span:hover {
  background: #303030;
}

.write-news-cont form div.text-art textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: block;
  background: #252525;
  border: 2px solid royalblue;
  outline: 0;
  padding: 1em .5em 3em .5em;
  line-height: 1.5em;
  font-size: clamp(0.85rem, 2vw, 1.1rem);
  color: white;
  border-radius: .2em;
  min-height: 490px;
}

@-webkit-keyframes articleNews {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes articleNews {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .write-news-cont .wrap-write {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .write-news-cont section.left-info-form-section {
    width: 100%;
    padding: 1em 0;
  }
  .write-news-cont form {
    width: 100%;
    height: 100vh;
  }
  .write-news-cont form div input[type='text']:not(.tag).sh {
    width: 100%;
  }
  .write-news-cont form div.select-image-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .write-news-cont form div.select-image-cont figure {
    position: relative;
    right: auto;
    width: 30vw;
    min-width: 150px;
    height: 17vw;
    min-height: 87px;
    margin-bottom: .5em;
  }
  .write-news-cont form div .tag-cont span {
    bottom: auto;
    top: 103%;
  }
  .write-news-cont form div .tag-cont span:first-child {
    left: 0;
  }
  .write-news-cont form div .tag-cont span:last-of-type {
    left: 15%;
  }
}

@media (max-width: 480px) {
  .write-news-cont form {
    padding: 1em .5em;
  }
}
